NODE_ENV=development
PORT=4000
DB_PATH=./data/portfolio.db
FRONTEND_ORIGIN=http://localhost:5173
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=$2a$10$YQRjxvhV9gP22Q0DPJWkzOGow2rFYoGLd/Htum.Mo1GR9PYoTpjhS
JWT_SECRET=replace_with_long_random_string
AUTH_COOKIE_NAME=portfolio_admin_token
CLOUDINARY_CLOUD_NAME=replace_with_cloud_name
CLOUDINARY_API_KEY=replace_with_api_key
CLOUDINARY_API_SECRET=replace_with_api_secret
